a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

[data-column] > * {
  line-height: 100vh;
  font-size: 80px;
  font-family: sans-serif;
  text-align: center;
}

nav {
  width: 100vw;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

nav ul {
  text-align: right;
  overflow: hidden;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
}

nav li button {
  border: 0;
  background: 0;
  font-size: 20px;
  cursor: pointer;
  color: #FFF;
}

nav li button:hover {
  text-decoration: underline;
}

.right {
  font-size: 25px;
  position: relative;
  bottom: 30px;
}